
select{
height:40px;
margin-top: 5px;
}
.showaaaa{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.movie{

width:300px;
height: 500;
margin: 10px;
border-radius: 5%;
box-shadow: 5px 10px 8px 10px #3b1909;

}

.anim{

width:300px;
height: 500;
margin: 10px;
border-radius: 5%;
box-shadow: 5px 10px 8px 10px #3b1909;
}
.tv{

width:300px;
height: 500;
margin: 10px;
border-radius: 5%;
box-shadow: 5px 10px 8px 10px #3b1909;
}

img{
height:300px;
width:250px;

}

#inputSearch{
    margin-left: 300px;
    margin-top: 10px;
    width:200px;
}

#search{
    margin-left: 10px;
    margin-top: 10px;
}

#signup{
    margin-left: 200px;
    margin-top: 10px;
}

#login{
    margin-left: 10px;
    margin-top: 10px;
}


.movie> img{
    margin-top: 10px;
    margin-left: 25px;
}
.anim> img{
    margin-top: 10px;
    margin-left: 25px;
}
.tv> img{
    margin-top: 10px;
    margin-left: 25px;
}

.date{
    color: blue;
}
.rating{
    color: blue;
}

.pages{
    display: none;
    margin-left: 105px;
    width: 430px;
    margin-top: 30px;
    flex-wrap: wrap;
    
}
.pages> h4{
    color: black;
}
.pages> a{
    color:blue;
    width: 33px;
    margin: 2px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
}

#selected{
    color:white;
}
